/*App styles*/

.app-board {
  position: relative;
  width: 100%;
  height: 100%;
}

.botPlayer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 16px);
  height: calc(50% - 16px);
  border: 8px ridge rgba(117, 118, 121, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.topPlayer {
  position: absolute;
  width: calc(100% - 16px);
  height: calc(50% - 16px);
  border: 8px ridge rgba(117, 118, 121, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.scoreboard {
  /*position: absolute;*/
  margin: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(91vw - 4px);
  height: 19vh;
  border: solid black 2px;
  box-shadow: inset 0px 0px 10px 7px rgba(150,150,150,0.5);
}

.topPlayerScoreboard {
  top: 1vw;
}

.botPlayerScoreboard {
  bottom: 1vw;
  order: 1;
}

.ball {
  background-color: white;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px #fff, 0 0 3px #faffaf, 0 0 5px #faffaf, 0 0 6px #faffaf, 0 0 8px #faffaf, 0 0 9px #faffaf, 0 0 11px #faffaf;
  pointer-events: none;
}

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.scoreboardCanvas{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.nest {
  width: 13.5vw;
  height: 19vh;
  margin: 1vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  background-color: transparent;
  box-shadow: inset 0px 0px 10px 7px rgba(150,150,150,0.5);
}

/*.nest :disabled{*/
/*  transform-origin: center;*/
/*  transform: scale(99);*/
/*  background-color: transparent;*/
/*}*/

.nest-drop {
  animation: glowThrou 1s ease-in-out infinite alternate;
}
.nest-final {
  animation: glowFinal 1s ease-in-out infinite alternate;
}

.text {
  position: absolute;
  font-size: 70px;
  pointer-events: none;
  color: #FFF;
  text-shadow: 0 0 3px #FFF, 0 0 6px #FFF, 0 0 9px #FFF, 0 0 12px #49ff18, 0 0 18px #49FF18, 0 0 24px #49FF18, 0 0 33px #49FF18, 0 0 45px #49ff18
}

.activePlayer {
  animation: glowFinal 1s ease-in-out infinite alternate;
}

@keyframes glowFinal {
  from {
    box-shadow: inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #e6cd1a, inset 0 0 8px #e6cd1a, inset 0 0 5px #e6cd1a, inset 0 0 12px #e6cd1a, inset 0 0 14px #e6cd1a;
  }
  to {
    box-shadow: inset 0 0 4px #fff, inset 0 0 6px #ffeeac, inset 0 0 8px #ffeeac, inset 0 0 10px #ffeeac, inset 0 0 12px #ffeeac, inset 0 0 14px #ffeeac, inset 0 0 16px #ffeeac;
  }
}

@keyframes glowThrou {
  from {
    box-shadow: inset 0 0 2px #fff, inset 0 0 4px #fff, inset 0 0 6px #e3e64b, inset 0 0 8px #e3e64b, inset 0 0 5px #e3e64b, inset 0 0 12px #e3e64b, inset 0 0 14px #e3e64b;
  }
  to {
    box-shadow: inset 0 0 4px #fff, inset 0 0 6px #faffaf, inset 0 0 8px #faffaf, inset 0 0 10px #faffaf, inset 0 0 12px #faffaf, inset 0 0 14px #faffaf, inset 0 0 16px #faffaf;
  }
}

.winnerBoard {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.winnerBoardVisible {
  display: block;
}

.winnerMessage {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #FFF;
  text-shadow: 0 0 3px #FFF, 0 0 6px #FFF, 0 0 9px #FFF, 0 0 12px #49ff18, 0 0 18px #49FF18, 0 0 24px #49FF18, 0 0 33px #49FF18, 0 0 45px #49ff18
}

.winnerBoardMenu {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

li{
  list-style: none;
  font-size: 40px;
  color: #FFF;
  text-shadow: 0 0 3px #FFF, 0 0 6px #FFF, 0 0 9px #FFF, 0 0 12px #49ff18, 0 0 18px #49FF18, 0 0 24px #49FF18, 0 0 33px #49FF18, 0 0 45px #49ff18
}
